@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Test App</h1>
    <h6>This app has demos on task Scheduling (like Autosys), AJAX calls in Razor Pages and how an Azure Logic app can have scheduled calls to its actions.</h6>
</div>