@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Scheduling in .NET core.</h1>
</div>

<div class="row">
    <div class="col-md-12">
        Quote:
        <blockquote>
            @ViewBag.Quote
            @ViewBag.Author
        </blockquote>
        <p>This quote was fetched at: @ViewBag.FetchedTime?.ToString("HH:mm")</p>
    </div>
</div>