@page
@model SchedulingModel
@{
    ViewData["Title"] = "Scheduling";
}

<div class="text-center">
    <h1 class="display-4">In App Scheduling</h1>
    <h5>
        This Quote fetch task runs on "* * * * *" schedule, which means that it runs every minute.
    </h5>
</div>

<p>&nbsp;</p>
<hr />

<div>
    <h5>Quote:</h5>
    <blockquote>
        <p>@ViewBag.Quote</p>
        <footer>
            — <cite><a href="/Scheduling">Ashish Khanal</a></cite>
        </footer>
    </blockquote>
    <p>Fetched at: @string.Format("{0:F}", ViewBag.FetchedTime).</p>
</div>