<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webappschedulerfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d8176b23-45e2-468c-a452-372440b34095/resourceGroups/pp56-learn-lab-sbx-rg/providers/Microsoft.Web/sites/WebAppSchedulerFunction</ResourceId>
    <UserName>$WebAppSchedulerFunction</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <PublishUrl>https://webappschedulerfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>